{% paginate collection.products by 4 %}
<div class="product-collection">
    <div class="collection-header">
        <h1 class="collection-title">{{ collection.title }}</h1>
        {% if collection.description != blank %}
        <div class="collection-desc">
            {{ collection.description }}
        </div>
        {% endif %}
    </div>
    
    <div class="collection-nav">
        <div class="mobile-nav-close"></div>
        {% include 'collection-filtering' %}
        {% include 'collection-sorting' %}
        <div class="collection-nav-block clear-all {% unless current_tags %}hide{% endunless %}">
            <div class="nav-title clear-all-ctl">
                <a href="{{ collection.url }}">Clear All</a>
            </div>
        </div>
        <script>
            Shopify.queryParams = {};
            Shopify.collectionHandle = '{{ collection.handle }}';
            if (location.search.length) {
                for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
                    aKeyValue = aCouples[i].split('=');
                    if (aKeyValue.length > 1) {
                        Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
                    }
                }
            }
            if (!jQuery.isEmptyObject(Shopify.queryParams)) {
                jQuery('.collection-nav-block.clear-all').removeClass('hide');
                jQuery('.clear-all.clear-all-sort').removeClass('hide');
            }
        </script>
    </div>
    
    <div class="collection-products items">
        <button class="add-all-to-bag cta">Add All To Bag</button>
        {% for product in collection.products %}
            {% assign all_tags = product.tags | downcase %}
            {% if all_tags contains 'in grid promo' %}
                {% include 'product-grid-promo' %}
            {% else %}
                {% include 'product-grid-item' %}
            {% endif %}
        {% else %}
            <p>{{ 'collections.general.no_matches' | t }}</p>
        {% endfor %}
    </div>
    
    {% if paginate.pages > 1 %}
        {% include 'pagination' %}
    {% endif %}
</div>
{% endpaginate %}
