<div class="page-wrapper page-utility usow-page">
  <div class="content-wrapper">
    <div class="usowdm-top-block">
      <div class="lower-block">
        <div class="text-block hide-desktop">
          <h3>Join the fight!</h3>

          <p>
            LAND of distraction is giving 100% of the proceeds from these tees directly to USOW to amplify the work of organizations + individuals at the forefront of the fight for women's equality.
          </p>

          <h3>Buy the tee</h3>

          <h3>Support the cause</h3>
        </div>

        <a href="/products/land-of-equality-t-shirt">
          <img src="{{ 'USOW_DM-top_1.jpg' | asset_url }}" alt="Land of Equality T-Shirt">
        </a>

        <div class="text-block hide-mobile">
          <h3>Join the fight!</h3>

          <p>
            LAND of distraction is giving 100% of the proceeds from these tees directly to USOW to amplify the work of organizations + individuals at the forefront of the fight for women's equality.
          </p>

          <h3>Buy the tee</h3>

          <h3>Support the cause</h3>
        </div>

        <a href="/products/usow-barriers-tee">
          <img src="{{ 'USOW_DM-top_3.jpg' | asset_url }}" alt="Barriers Were Meant to be Broken T-shirt">
        </a>
      </div>
    </div>

    <img src="{{ 'usow-desktop-header.jpg' | asset_url }}" class="hide-mobile" />
    <img src="{{ 'usow-mobile-header.jpg' | asset_url }}" class="hide-desktop" />

    <div class="info-block">
      <div class="top-block">
        <img src="{{ 'usow-laverne_cox-by_ben_cope.jpg' | asset_url }}" />

        <div class="text-block">
          <p>
            Founded on the belief that fashion can serve as a vehicle for empowering women, LAND of distraction is proud to serve as the exclusive apparel partner to The United State of Women, a national organization for women who see a bright future in America for all women to survive + thrive. USOW amplifies the work of organizations + individuals at the forefront of the fight for women’s equality, + provides tools, access + connections that help women see + step into their power to break down the barriers that hold women back.
          </p>

          <p>
            It is our honor to partner with USOW on their mission for full equality.
          </p>

          <p>
            100% of the proceeds after costs of your official #USOW2018 t-shirt purchase  will go to The United State of Women to help them to continue  convening and activating women and girls across the country.
          </p>

          <p>
            Danita Short + the LAND of distraction Team
          </p>
        </div>
      </div>

      <div class="lower-block">
        <a href="/products/usow-barriers-tee">
          <img src="{{ 'USOW_DM-top_3.jpg' | asset_url }}" alt="Barriers Were Meant to be Broken T-shirt">
        </a>

        <a href="/products/land-of-equality-t-shirt">
          <img src="{{ 'USOW_DM-top_1.jpg' | asset_url }}" alt="Land of Equality T-Shirt">
        </a>

        <div class="text-block">
          <p>
            Wear your tee, tag @USOWomen + @landofdistraction with our shareable graphic from  our Instagram page. Share your story about breaking barriers, whether it’s a barrier you yourself have broken or one you’re inspired to help break.
          </p>

          <p>
            For every post shared, LAND of distraction will donate an additional $1 to The United State of Women, up to $25,000.
          </p>
        </div>
      </div>
    </div>

    <div class="gallery-block">
      <h3>SPECIAL THANKS TO THESE AMAZING WOMEN + WOMEN EVERYWHERE WHO ARE CHANGING THE WORLD FOR THE BETTER</h3>

      <ul>
        <li>
          <img src="{{ 'usow-desktop-4.jpg' | asset_url }}" />

          <h4>EMILY LADAU</h4>

          <p>
            Disability Rights Activist + Communications Consultant.
            Blog Author of wordsiwheelby.com
          </p>
        </li>

        <li>
          <img src="{{ 'usow-desktop-5.jpg' | asset_url }}" />

          <h4>JAMIA WILSON</h4>

          <p>
            Executive Director + Publisher of Feminist Press, former Vice President of
            Programs at The Women’s Media Center, Staff writer for Rookie
          </p>
        </li>

        <li>
          <img src="{{ 'usow-desktop-6.jpg' | asset_url }}" />

          <h4>BLAIR IMANI</h4>

          <p>
            Activist, Author of @ModernHERstory + Founder of @equalityforHER
          </p>
        </li>

        <li>
          <img src="{{ 'usow-desktop-7.jpg' | asset_url }}" />

          <h4>SARAH SOPHIE FLICKER</h4>

          <p>
            National organizer of the Women’s March on Washington.
            Creative Director @ Art Not War + The Citizens Band
          </p>
        </li>

        <li>
          <img src="{{ 'usow-desktop-8.jpg' | asset_url }}" />

          <h4>MIA IVES RUBLEE</h4>

          <p>
            Activist, Adapted Athlete,
            Photographer, Writer, Disability Outreach Coordinator for
            @womensmarch, Founder of @wmwdisability
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>